:global {
  .ant-descriptions-item-content {
    font-size: 9pt !important;
    line-height: 1.2 !important;
    word-break: unset !important;
    overflow-wrap: unset !important;
  }
  .ant-descriptions-item-label {
    font-size: 9pt !important;
    line-height: 1.2 !important;
    word-break: unset !important;
    overflow-wrap: unset !important;
  }
}
