@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import '~antd/dist/antd.css';

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  font-weight: 400;
}

#root {
  display: flex;
}

#mapLayer {
  height: 100vh;
  width: 100vw;
}

#map {
  height: 100%;
  width: 100%;
}

.operator {
  position: absolute;
  right: 1em;
  top: 1em;
}

#tip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.76);
  bottom: 0;
  color: black;
  padding: 0.5em;
  font-size: 10pt;
  font-weight: 400;
  line-height: 12pt;
  margin: 15px;
}

#tip p {
  margin: 0;
}

#upload {
  position: absolute;
  top: 0;
}

[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel .ant-collapse-header {
  padding: 5px 16px;
}

[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel .ant-collapse-content {
  padding: 5px 12px;
}

#popup {
  position: absolute;
  bottom: -12px;
  left: 45px;
}

#tool {
  position: absolute;
  top: 5px;
  left: 5px;
}

#layerPanel {
  position: absolute;
  top: 1em;
  left: 1em;
  min-width: 230px;
}

.icon-circle {
  width: 100px;
  height: 100px;
  background: rgb(0, 204, 255);
  font-size: 2em;
  line-height: 2em;
  color: white;
  border-radius: 50px;
}

.ant-upload-list {
  max-height: 250px !important;
  overflow-y: auto !important;
  margin: 10px 0;
  background-color: rgba(150, 150, 150, 0.05);
  box-shadow: inset 0px 2px 4px -4px #000;
  font-size: 8pt;
}

.ant-upload-list-item {
  font-size: 12px;
}

.grey-map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scrollNull {
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  height: 100%;
  border: none;
  overflow: auto;
}

.scrollNull::-webkit-scrollbar {
  display: none;
}

.colNull {
  background-color: rgba(255, 255, 255, 0);
  border: none !important;
  max-width: 250px;
}

.panelNull .ant-collapse-content-box {
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-height: 80vh;
  overflow-y: auto;
  padding: 0 !important;
}

.panelNull .ant-collapse-header {
  height: 30px;
  padding: 0.5em !important;
  background-color: #1890ff;
  text-align: center;
  color: white !important;
  user-select: none;
  line-height: 1.2 !important;
  font-size: 10pt;
}

.panelNull .ant-collapse-content-box::-webkit-scrollbar {
  display: none;
}
